.navbar {
  background-color: $dark-color;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;

  & .logo {
    font-size: 3rem;
    color: $light-color;
  }

  & ul {
    display: flex;
    padding: 1rem;
    font-size: 1.6rem;

    & li {
      & a {
        color: $light-color;
        padding: 1rem;
        border-radius: 3px;

        &:hover {
          background-color: $light-color;
          color: $dark-color;
        }
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
