.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 5px;
  color: $light-color;
  background-color: $primary;
  text-align: center;
  transition: all 0.2s;
  display: inline-block;
  margin: 1rem 0;

  &:hover {
    filter: brightness(90%);
  }
}

.btn-dark {
  background-color: $dark-color;
  color: $light-color;
}

.btn-light {
  background-color: $light-color;
  color: $dark-color;
}

.btn-secondary {
  background-color: $secondary;
  color: $light-color;
}

.lead {
  color: $light-color;
  font-size: 1.6rem;
  text-align: center;
  width: 80%;
  margin: 2rem auto;
}

.progress {
  overflow: hidden;
  height: 20px;
  background: $light-color;
  border-radius: 5px;
  margin-bottom: 0.6rem;

  div {
    height: 100%;
    color: $light-color;
    text-align: center;
    background: $primary;
  }
}
