.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 5px;
  color: $dark-color;
  background-color: $light-color;
  text-align: center;
  transition: all 0.2s;

  &:hover {
    filter: brightness(70%);
  }
}

.btn-dark {
  background-color: $dark-color;
  color: $light-color;
}

.btn-primary {
  background-color: $primary-color;
  color: $light-color;
}

.lead {
  color: $light-color;
  font-size: 1.6rem;
  text-align: center;
  width: 80%;
  margin: 2rem auto;
}

.progress {
  overflow: hidden;
  height: 20px;
  background: $light-color;
  border-radius: 5px;
  margin-bottom: 0.6rem;

  div {
    height: 100%;
    color: #fff;
    text-align: center;
    background: $primary-color;
  }
}
