@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Raleway:wght@100;200;300;400;500&display=swap");
::-moz-selection {
  background-color: #00ad82;
  color: #f4f4f4;
}
::selection {
  background-color: #00ad82;
  color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.navbar {
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo {
  font-size: 3rem;
  color: #f4f4f4;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  font-size: 1.6rem;
}

.navbar ul li a {
  color: #f4f4f4;
  padding: 1rem;
  border-radius: 3px;
}

.navbar ul li a:hover {
  background-color: #f4f4f4;
  color: #333;
}

.navbar ul li:not(:last-child) {
  margin-right: 1rem;
}

.home {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 199, 154, 0.7)), to(rgba(0, 129, 97, 0.7))), url(../img/hero.jpeg) no-repeat center center/cover;
  background: linear-gradient(rgba(22, 199, 154, 0.7), rgba(0, 129, 97, 0.7)), url(../img/hero.jpeg) no-repeat center center/cover;
  height: 100vh;
}

.home h1 {
  color: #fff;
  font-size: 9rem;
  font-weight: 100;
  margin: 2rem 0;
}

.home .button-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.about {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right bottom, from(#6a99ff), to(#0050ff));
  background: linear-gradient(to right bottom, #6a99ff, #0050ff);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.about h1 {
  color: #f4f4f4;
  font-size: 9rem;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.about h3 {
  font-size: 5rem;
  color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}

.about h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}

.about .lead {
  background-color: #00ad82;
  padding: 3rem;
  border-radius: 15px;
  width: 50%;
}

.about .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .wrapper h4 {
  text-align: center;
}

.work {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 2rem;
  text-align: center;
}

.work .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.work h1 {
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #00ad82;
  margin-bottom: 1rem;
}

.work .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #6a99ff;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 1rem;
}

.work .content h4 {
  font-size: 2rem;
  color: #f4f4f4;
}

.work .content img {
  width: 80%;
  margin: 1rem;
  border-radius: 10px;
}

footer {
  padding: 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #333;
  color: #f4f4f4;
  margin: auto;
}

footer a {
  color: #f4f4f4;
}

footer .social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 5px;
  color: #333;
  background-color: #f4f4f4;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.btn-dark {
  background-color: #333;
  color: #f4f4f4;
}

.btn-primary {
  background-color: #00ad82;
  color: #f4f4f4;
}

.lead {
  color: #f4f4f4;
  font-size: 1.6rem;
  text-align: center;
  width: 80%;
  margin: 2rem auto;
}

.progress {
  overflow: hidden;
  height: 20px;
  background: #f4f4f4;
  border-radius: 5px;
  margin-bottom: 0.6rem;
}

.progress div {
  height: 100%;
  color: #fff;
  text-align: center;
  background: #00ad82;
}

@media (min-width: 2560px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 1024px) {
  .about .lead {
    width: 80%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .work .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 37.5%;
  }
}
/*# sourceMappingURL=style.css.map */